<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="reset.css">
   <link rel="stylesheet" href="style2.css">
   <title>Document</title>
</head>

<body>
   <section class='tourney '>
      <div class="tourney__wrapper">
         <div class="subtitle-shadow">
            <h3 class="tourney__subtitle tourney__subtitle--shadow">Турниры ocean games</h3>
         </div>
         <h1 class="tourney__title">resultados partida</h1>
         <h3 class="tourney__subtitle tourney__subtitle--colored ">gran final</h3>

           
         <table class="tourney__table">
            <thead class="table__head">
               <tr class="head__item">
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">pos</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">команда</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">booyah</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">kill</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">p1</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">p2</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">p3</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">p4</span>
                     </div>
                  </td>
                  <td>
                     <div class="head__content">
                        <img class="head__img" src="image/star.png" alt="">
                        <span class="head__text">total</span>
                     </div>
                  </td>

               </tr>
            </thead>
            <tbody class="table__body">
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">

                        <span class="table__content table__content--team"> Gods plan</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <span class="table__content "> 1</span>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--total-result">
                        <span class="table__content "> 1</span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 2</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">
                        <span class="table__content table__content--team"> ARCTIC GRMING MX</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 3</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">
                        <span class="table__content table__content--team"> TEAM AZE</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 4</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">
                        <span class="table__content table__content--team"> NEWSTAR ESPORTS</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 5</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">
                        <span class="table__content table__content--team"> IGNIS ESPORTS</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td class="tbody__pos tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 6</span>
                     </div>
                  </td>
                  <td class="tbody__team tourney__td-wrapper">
                     <div class="box-wrapper box-wrapper--team">
                        <span class="table__content table__content--team"> ZWAN GAMING</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class="tbody__result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
                  <td class=" tbody__total-result tourney__td-wrapper">
                     <div class="box-wrapper">
                        <span class="table__content"> 1</span>
                     </div>
                  </td>
               </tr>
            </tbody>
            <tfoot class='tfoot-helper'>
               <!-- <div class="table__border-helper border-helper--horizontal-top-left">

               </div>
               <div class="table__border-helper border-helper--vertical-top-left ">
   
               </div>
               <div class="table__border-helper border-helper--horizontal-top-right">
   
               </div>
               <div class="table__border-helper border-helper--vertical-top-right">
   
               </div>
               <div class="table__border-helper border-helper--vertical-bottom-right">
   
               </div>
               <div class="table__border-helper border-helper--horizontal-bottom-right">
   
               </div>
               <div class="table__border-helper border-helper--vertical-bottom-left">
   
               </div>
               <div class="table__border-helper border-helper--horizontal-bottom-left">
   
               </div> -->

            </tfoot>
         </table>
   </section>

</body>