@font-face {
   font-family: 
   Archangelsk; 
   src: url(fonts/Archangelsk\ font.ttf);
  }
body{
   font-family: Archangelsk;
}
:root {
   --color-yellow: #FFA500;
 }
.tourney{
   padding-bottom: 20px;
   background: url(image/background.png) center center;
}
 .tourney__wrapper{
   max-width: 310px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
}
.tourney__title{
   margin-top: 8px;
   text-transform: uppercase;
   font-size: 32px;
   color: #FFFFFF;
}
.tourney__subtitle{
   text-transform: uppercase;
   font-size: 16px;

   color: #FFFFFF;
}
.tourney__subtitle--colored{
   text-transform: uppercase;
   color: var(--color-yellow);

}
.subtitle-shadow{
   margin-top: 8px;
   display: inline-block;
   width: 100%;
   height: 60px;
   background: url(image/Union-1.svg);
}
.tourney__subtitle--shadow{
   margin-top: 24px;
}
.tourney__table {
   position: relative;
   margin: 0 auto;
	border-spacing: 0 15px;
	border-collapse: separate;
	width: 280px;
   box-sizing: border-box;
}
.head__content{
   position: relative;
   top: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.head__img{
   width: 9px;
}
.table__head{
   position: relative;
   
   font-size: 8px;
   text-transform: uppercase;
   color: #4D4D4D; 
}
.table__content{
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}
.table__content--team{
   width: 92%;
   left: 4px;
   transform: translate(0, -50%); 
}
.box-wrapper{
   height: 30px;
}
.box-wrapper--team{
   width: 80px;
}
.tbody__team{
   position: relative;
   left: 0;
   width: 85px;
   text-transform: uppercase;
  
   font-size: 10px;
   color: #FFFFFF;
}
.tbody__pos{
   width: 58px;
   height: 24px;
   font-size: 20px;
   color: var(--color-yellow);
}
.tbody__result{
   width: 10%;
   font-size: 12px;
   text-transform: uppercase;
   color: #FFFFFF;
   
}
.tbody__total-result {
   font-size: 20px;
   text-transform: uppercase;
   color: #401F00;
   background: linear-gradient(51.05deg, #FEB80A 3.9%, #FEBB13 17.83%, #FEC42C 40.7%, #FFD354 69.48%, #FFE27D 95%) !important;

}
.tourney__td-wrapper {
	border: 1px solid #4A4549;
   position: relative;
}
.tourney__td-wrapper:nth-child(2n) {
   background: #4D4D4D; 
  } 
.tourney__td-wrapper:nth-child(2n+1) {
   background:#333333;;
  } 
.tfoot-helper{
   display: block;
   position: absolute;
   top: 174px;
    left: 50%; 
    transform: translate(-50%, -50%);
   height: 274px;
   width: 292px;
   border: 1px solid #3E474E;
}
/* .table__border-helper{
z-index: 1;
display: block;
position: absolute;
background: #615B5B;
   width: 0.3%;
   height: 3%;
}
.border-helper--horizontal-top-left{
transform: rotate(90deg);
top: -11px;
left: 6px
}
.border-helper--vertical-top-left{
   left: -1.8px;
   top: -2.3px;
}
.border-helper--horizontal-top-right{
   transform: rotate(90deg);
   top: -10.8px;
   right: 6.8px;
   
}
.border-helper--vertical-top-right{
   right: -1.8px;
   top: -2.3px;
}
.border-helper--vertical-bottom-right{
   right: -1.8px;
   bottom: -2.2px;
}
.border-helper--horizontal-bottom-right{
   transform: rotate(90deg);
   bottom: -10.8px;
   right: 6.8px;
}
.border-helper--horizontal-bottom-left{
   transform: rotate(90deg); 
   bottom: -10.8px;
   left: 6px
}
.border-helper--vertical-bottom-left{
   bottom: -2.2px;
   left: -1.8px;
} */


@media screen and (min-width: 370px) {
   .tourney__wrapper{
      max-width: 350px;
   }
   .tourney__title{
      font-size: 36px;  
   }
   .tourney__table {
      width: 310px;
   }
   .table__head{
      color: #4D4D4D; 
   }
   .tfoot-helper{
      width: 326px;
   }
}

@media screen and (min-width: 450px) {
   .tourney__wrapper{
      max-width: 440px;
   }
   .tourney__title{
      margin-top: 4px;
   }
   .tourney__subtitle{
      margin-top: 8px;
   }
   .subtitle-shadow{
      margin-top: 0px;
      height: 68px;
      background: url(image/Union-3.svg);
   }
   .tourney__subtitle--shadow{
      margin-top: 28px;
   }
   .tourney__table {
      width: 340px;
   }
   .table__head{
      font-size: 12px;
   }
   .box-wrapper--team{
      width: 90px;
   }
  .tfoot-helper{
   width: 362px;
}
}

@media screen and (min-width: 580px) {

   .tourney__wrapper{
      max-width: 560px;
   }
   .tourney__title{
      margin-top: 8px;
      font-size: 38px;
   }
   .subtitle-shadow{
      width: 80%;
   }
   .tourney__table {
      width: 480px;
      border-spacing: 0 20px;
   }
   .table__head{
      top: 4px;
   }
   .table__content--team {
      font-size: 12px;
  }
   .tbody__result{
      font-size: 14px;   
   }
   .box-wrapper--team{
      width: 110px;
   }
   .box-wrapper--total-result{
      width: 60px;
   }
  
  .tfoot-helper{
   top: 199px;
   height: 303px;
   width: 496px;
}
}

@media screen and (min-width: 670px) {
   .tourney__wrapper{
      max-width: 640px;
   }
   .tourney__title{
      font-size: 50px;
   }
   .tourney__subtitle{
      margin-top: 6px;
   }
   .subtitle-shadow{
      width: 70%;
   }
   .tourney__subtitle--shadow{
      margin-top: 28px;
   }
   .tourney__table {
      width: 580px;
   }
   .table__head{
      font-size: 14px;
   }
   .table__content--team {
      font-size: 14px;
  }
   .box-wrapper--team{
      width: 136px;
   }
   .box-wrapper--total-result{
      width: 80px;
   }
 
  .tfoot-helper{
   width: 592px;
}
}

@media screen and (min-width: 820px) {
   .tourney__wrapper{
      max-width: 816px;
   }
   .tourney__title{
      margin-top: 0;
      font-size: 64px;
   }
   .tourney__subtitle{
      font-size: 26px;
      margin-top: 6px;
   }
   .subtitle-shadow{
      width: 100%;
      height: 86px;
      background: url(image/Union-2.svg);
   } 
   .tourney__subtitle--shadow{
      margin-top: 30px;
   }
   .tourney__table {
      width: 700px;
   }
   .table__head{
      top: 2px;
      letter-spacing: 1px;
   }
   .tbody__pos{
      height: 32px;
   }
   .box-wrapper{
      height: 26px;
   }
   .box-wrapper--team{
      width: 150px;
   }
   .box-wrapper--total-result{
      width: 90px;
   }
  .tfoot-helper{
   width: 720px;
}
}

@media screen and (min-width: 910px) {
   .tourney__wrapper{
      max-width: 900px;
   }
   .tourney__title{
      margin-top: 4px;
      font-size: 68px;
   }
   
   .tourney__subtitle{
      font-size: 28px;
      margin-top: 10px;
   }
   .subtitle-shadow {
      width: 95%;
  }
   .tourney__subtitle--shadow{
      margin-top: 30px;
   }
   .tourney__table {
      width: 800px;
      border-spacing: 0 22px;
   }
   .table__head{
      font-size: 14px;
   }
   .table__content--team {
      font-size: 14px;
  }
   .tbody__pos{
      height: 34px;
   }
   .tbody__result {
      font-size: 16px;
  }
   .box-wrapper{
      height: 30px;
   }
   .box-wrapper--team{
      width: 156px;
   }
  .tfoot-helper{
   top: 212px;
   height: 328px;
   width: 820px;
}
}
@media screen and (min-width: 1010px) {
   .tourney__wrapper{
      max-width: 980px;
   }
   .tourney__title{
      margin-top: 22px;
      font-size: 72px;
   }
   
   .tourney__subtitle{
      font-size: 32px;
      margin-top: 10px;
   }
   .subtitle-shadow{
      margin-top: 6px;
      width: 90%;
   }
   .tourney__subtitle--shadow{
      margin-top: 30px;
   }
   .tourney__table {
      width: 900px;
      border-spacing: 0 24px;
   }
   .table__head{
     top: 4px;
      font-size: 14px;
   }
   .table__content--team {
      font-size: 20px;
  }
   .head__img{
      width: 10px;
   }
   .tbody__result {
      font-size: 20px;
  }
  .tbody__pos {
   font-size: 26px;
}
   .box-wrapper{
      width: 44px;
      height: 42px;
   }
   .box-wrapper--team{
      width: 230px;
   }
   .box-wrapper--total-result{
      width: 130px;
   }
  .tfoot-helper{
   top: 253px;
   height: 400px;
   width: 920px;
}
}

@media screen and (min-width: 1100px) {
   .tourney__wrapper{
      max-width: 1080px;
   }
   .tourney__title{
      font-size: 76px;
   }
   .tourney__subtitle--shadow{
      margin-top: 30px;
   }
   .subtitle-shadow{
      width: 100px;
   }
   .subtitle-shadow{
      width: 80%;
   }
   .tourney__table {
      width: 1000px;
      border-spacing: 0 26px;
    
   }
   .table__head{
     font-size: 20px;
     letter-spacing: 1.5px;
   }
   .table__content--team {
      font-size: 20px;
  }
   .tbody__result {
      font-size: 20px;
  }
  .tbody__pos{
   height: 38px;
}
  .tbody__pos {
   font-size: 26px;
}
   .box-wrapper{
      width: 44px;
      height: 42px;
   }
   .box-wrapper--team{
      width: 230px;
   }
   .box-wrapper--total-result{
      width: 130px;
   }
  .tfoot-helper{
   top: 268px;
   height: 410px;
   width: 1020px;
}
 
}

@media screen and (min-width: 1270px) {
   .tourney__wrapper{
      max-width: 1200px;
   }
   .tourney__title{
      margin-top: 26px;
      font-size: 82px;
   }
   .tourney__subtitle{
      font-size: 34px;
      margin-top: 12px;
   }
   .tourney__subtitle--shadow{
      margin-top: 30px;
   }
   .subtitle-shadow{
      width: 864px
   }
   .tourney__table {
      width: 1150px;
      border-spacing: 0 26px;
   }
   .table__content--team {
      font-size: 20px;
  }
   .tbody__result {
      font-size: 20px;
  }
  .tbody__pos {
   font-size: 26px;
}
   .box-wrapper{
      width: 44px;
      height: 42px;
   }
   .box-wrapper--team {
      width: 260px;
  }
   .box-wrapper--total-result{
      width: 130px;
   }
  .tfoot-helper{
   width: 1172px;
}
}

@media screen and (min-width: 1450px) {
   .tourney__wrapper{
      max-width: 1400px;
   }
   .tourney__title{
      margin-top: 26px;
      margin-bottom: 12px;
      font-size: 94px;
   } 
   .tourney__subtitle{
      font-size: 34px;
   }
   .subtitle-shadow{
      width: 60%;
   }
   .tourney__table {
      width: 1300px;
      border-spacing: 0 28px;
   }
   .table__head{
      font-size: 20px;
   }
   .table__content--team {
      font-size: 24px;
  }
   .tbody__result {
      font-size: 20px;
  }
  .tbody__pos{
   height: 48px;
   font-size: 26px;
}
   .box-wrapper{
      width: 44px;
      height: 42px;
   }
   .box-wrapper--team{
      width: 280px;
   }
   .box-wrapper--total-result{
      width: 130px;
   }
  
  .tfoot-helper{
   top: 288px;
   height: 452px;
   width: 1322px;
}
}
@media screen and (min-width: 1700px) {
   .tourney__wrapper{
      max-width: 1600px;
   }
   .tourney__title{
      font-size: 100px;
   }
   .subtitle-shadow{
      width: 52%;
   }
   .tourney__table {
      width: 1560px;
   }
   .tbody__result {
      font-size: 20px;
  }
   .box-wrapper{
      width: 44px;
      height: 42px;
   }
   .box-wrapper--team{
      width: 300px;
   }
   .box-wrapper--total-result{
      width: 130px;
   }
  .tfoot-helper{
   width: 1582px;
}
}
@media screen and (min-width: 1910px) {
   .tourney{
      background: url(image/background-big.png)  center center;
   }
   .tourney__wrapper{
      max-width: 1900px;
   }
   .tourney__title{
      margin-top: 26px;
      margin-bottom: 10px;
      font-size: 129px;
   }
   .tourney__subtitle{
      font-size: 42px;
   }
   .subtitle-shadow{
      margin-top: 20px;
      width: 48%;
   }
   .tourney__subtitle--shadow{
      margin-top: 28px;
   }
   .tourney__table {
      width: 1760px;
   }
   .table__head{
      font-size: 24px;
   }
   .tbody__result {
      font-size: 30px;
  }
  .tbody__total-result{
   font-size: 30px; 
  }
   .box-wrapper{
      width: 44px;
   }
   .box-wrapper--team{
      width: 340px;
   }
   .box-wrapper--total-result{
      width: 130px;
   }
  .tfoot-helper{
   top: 292px;
   width: 1782px;
}
}